apiVersion: v1
kind: ConfigMap
metadata:
  name: msvc-usuarios
data:
  port: "8001"
  db_host: mysql8:3306
  database: db_springboot_usuarios
#  username: root
# password:
  curso_url: msvc-cursos:8002
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: msvc-cursos
data:
  port: "8002"
  db_host: postgres14:5432
  database: db_springboot_cursos
#  username: postgres
#  password: sasa
  usuario_url: msvc-usuarios:8001